/* RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
    font-family: 'Varela Round', sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: 'Rowdies', cursive;
    color: #e53170;
    font-size: 2rem;
    padding: 20px;
}

p {
    font-size: .9rem;
    padding: 20px;
}

.title {
    text-align: center;
}

.floating-card {
    background-color: red;
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid yellow;
}